:root {
    --primary-color: #0a3591;
    --secondary-color: #475569;
    --success-color: #16a34a;
    --background-color: #f8fafc;
    --text-color: #1e293b;
    --border-color: #e2e8f0;
    --shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    --border-radius: 8px;
    --transition: all 0.3s ease;
    --bg-dark: #1a1a1a;
    --text-dark: #e5e5e5;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}

p { margin-bottom: 2rem;}

header {
    background-color: var(--primary-color);
    color: #fff;
    padding: 1rem;
    text-align: center;
    box-shadow: var(--shadow);
    top: 0;
    z-index: 100;
    position: sticky;
}

/* Nav Bar */
nav {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: auto;
    height: 50px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: var(--transition);
}

nav a:hover {
    color: var(--secondary-color);
}

/* Nav Bar */


h1 {
    color: var(--text-color);
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-align: center;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}