.feedback-main {
    background-color: var(--primary-color);
    max-width: 1000px;
    margin: 1rem auto;
    padding: 2rem 2rem;
    border-radius: 50px;
    box-shadow: var(--shadow);
}

.feedback-hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

.feedback-container {
    background-color: var(--primary-color);
    border-radius: 20px;
    padding: 3rem;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(255, 215, 0, 0.1);
    animation: fadeIn 0.5s ease-out;
    transition: all 0.3s ease;
}


.feedback-container:hover {
    border-color: var(--secondary-color);
    transform: translateY(-2px);
}


.feedback-intro {
    color: var(--secondary-color);
    margin-top: 2rem;
    font-size: 1.1rem;
    line-height: 1.8;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
    margin-bottom: 1.5rem;
}

.form-group label {
    display: block;
    font-weight: 500;
    margin-bottom: 0.5rem;
    color: var(--text-color);
}

input, select, textarea {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid var(--secondary-color);
    border-radius: 30px;
    background-color: var(--primary-color);
    color: var(--text-color);
    transition: var(--transition);
}

input:focus, select:focus, textarea:focus {
    border-color: var(--secondary-color);
    outline: none;
    box-shadow: 0 0 0 3px rgba(255, 178, 44, 0.1);
}

textarea {
    resize: vertical;
    min-height: 50px;
    width: 750px;
}

button {
    padding: 1rem 2rem ;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: var(--transition);
    color: var(--text-color);
}

button:hover {
    background-color: var(--text-color);
    color: #000000;
}

/* Responsive Design */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        gap: 1rem;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
        gap: 1rem;
    }
    
    .feedback-container {
        padding: 1rem;
    }

    h1 {
        font-size: 1.5rem;
    }

    button {
        width: 100%;
    }
    
    .feedback-hero {
        grid-template-columns: 1fr;
    }
    
    textarea {
        width: 100%;
    }
}